body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #27343D; /* Background color applied */
    color: white; /* Text color applied */
    text-align: center;
}

header {
    padding: 25px;
    background-color: #27343D; /* Matches the rest of the site */
}

header img {
    width: 300px; /* Adjusted smaller size for the logo */
    height: auto;
}

header h1 {
    font-size: 36px;
    color: #40adc2; /* Light blue text color for the header */
    margin-top: 15px;
}

h2 {
    font-size: 36px;
    color: #40adc2;
    margin-bottom: 10px; /* Reduce bottom margin to decrease space */
}

.highlighted {
    color: #f7bc32; /* Color for "MISSION" */
    font-weight: bold;
}

section p {
    font-size: 18px;
    margin: 10px auto; /* Adjusted margin to reduce spacing */
    width: 60%;
    line-height: 1.6;
    color: white;
}

/* Styling for buttons and centering them horizontally */
.links {
    margin: 30px 0;
    display: flex;
    flex-direction: row; /* Horizontal layout for buttons */
    justify-content: center; /* Centering buttons */
    gap: 15px; /* Adds space between buttons */
}

.links a {
    display: inline-block;
    background-color: #40adc2; /* Light blue background for buttons */
    color: white; /* White text color */
    font-weight: bold;
    font-size: 20px; /* Adjusted size for button text */
    padding: 12px 30px; /* Padding for button feel */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth hover transition */
    margin: 10px 10px; /* Reduced spacing */
}

/* Hover effect for buttons */
.links a:hover {
    background-color: #3498db; /* Darker blue on hover */
}

footer {
    background-color: #27343D;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    margin: 0;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
